<style>
<!--
.hidden { display: none; }
.error { background: #fbb; border: solid 1px #f66; border-radius: 3px; padding: 5px 10px; float: left;}
.clr { clear: both; }
-->
</style>

<div id="error" class="error [% IF NOT error %]hidden[% END %]">
    <span id="errorText">[% error %]</span>
</div>
<div class="clr"></div>

<form action="/cgi-bin/app.pl" id="appForm">
    <input type="hidden" name="rm" value="login">
    Username:<br>
    <input type="text" name="username" id="username" value="[% username %]"><br>
    E-mail:<br>
    <input type="text" name="email" id="email" value="[% email %]"><br>
    <input type="submit" name="submit" value="Login">
</form>

<script type="text/javascript">
var doValidateForm = true;

if (doValidateForm) {
    document.getElementById('appForm').addEventListener('submit', function(e){
        var error = validateForm([
            ['username', new RegExp(/^[a-zA-Zа-яА-Я]+$/)],
            ['email', new RegExp(/^[^@]+@[^@]+?\.\w{2,}$/)]
        ]);
        if (error) {
            e.preventDefault();
            document.getElementById('errorText').innerText = error;
            document.getElementById('error').className = 'error';
            return false;
        }
    });
}

function validateForm(opts) {
    if (opts) {
        var errors = [];
        for (var i in opts) {
            if (!opts[i][1].test(document.getElementById(opts[i][0]).value))
                errors.push(opts[i][0]);
        }
        if (errors.length > 0)
            return "Invalid fields: " + errors.join(', ');
    }
}
</script>
