<style type="text/css">
<!--
ul {
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
}
li {
    display: block;
    float: left;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    list-style-type: none;
}
li.last {
    float: none !important;
    margin: 0px !important;
}
.clr {
    clear: both;
}
-->
</style>
<ul>
    <li class="last"><a href="/cgi-bin/app.pl?rm=logout">Logout</a></li>
</ul>
