<style type="text/css">
<!--
table, table td { border: solid 1px #999; border-collapse: collapse; padding: 2px 5px; }
-->
</style>
<h3>Registered users</h3>
<table>
    <tr>
        <td><a href="/cgi-bin/app.pl?rm=users&amp;sort=name">Name</a></td>
        <td><a href="/cgi-bin/app.pl?rm=users&amp;sort=email">Email</a></td>
        <td><a href="/cgi-bin/app.pl?rm=users&amp;sort=created">Registered</a></td>
    </tr>
    [% IF users %]
        [% FOREACH u IN users %]
        <tr>
            <td>[% u.name %]</td>
            <td>[% u.email %]</td>
            <td>[% u.created %]</td>
        </tr>
        [% END %]
    [% END %]
</table>
